<div class="component component-dialog component-dialog-api-request"
     data-component="DialogApiRequest" id="stacked_branches_not_supported">

  <h3 id="dialog-title" data-node="heading" class="govuk-label govuk-label--m">
    <%= t('dialogs.move.you_cannot_move_this_page') %>
  </h3>
  <p data-node="content">
    <%= t('dialogs.move.stacked_branches_not_supported_message') %>
  </p>

  <div class="ui-dialog-buttonset">
    <button class="govuk-button ui-button"><%= t('dialogs.button_understood') %></button>
  </div>
</div>
