<%= t('warnings.from_address.settings.contact_us').html_safe %>
<p>
  <%= link_to t('settings.from_address.link_contact_us'),
    t('settings.from_address.contact_url'),
    class: 'fb-link-button' %>
</p>
