<p>
  <span role="alert"></span>
  <%= tag.button t('settings.from_address.resend_link_text'),
    class: 'fb-link-button',
    data: {
      remote: true,
      method: 'post',
      url: api_service_settings_from_address_resend_path(service.service_id),
      success: t('settings.from_address.link_resent_success')
    } %>
</p>
