<%= conditional.fields_for :expressions do |expression| %>
  <div class="condition">
    <div class="question govuk-form-group" data-index-expression="<%= expression.index %>">
      <%= expression.select :component,
        @branch.previous_questions,
        { include_blank: '--Select a question--' },
        { class: 'govuk-select' } %>
    </div>
    <div class="answer">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden">type of match</label>
        <select class="govuk-select">
          <option>is</option>
        </select>
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-visually-hidden">chose option value</label>
        <select class="govuk-select">
          <option>three or more</option>
        </select>
      </div>
    </div>
  </div>
<% end %>
