<%= conditional.fields_for :expressions do |expression| %>
  <div data-index-expression="<%= expression.index %>">
    <%= expression.select :component,
      @branch.previous_questions,
      include_blank: '--Select a question--' %>
  </div>
<% end %>
