apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Values.app_name }}-config-map"
  namespace: formbuilder-saas-{{ .Values.environmentName }}
data:
  RAILS_ENV: production
  RAILS_LOG_TO_STDOUT: "true"
  PLATFORM_ENV: {{ .Values.environmentName }}
  RAILS_SERVE_STATIC_FILES: "true"
  EDITOR_FULL_URL_ROOT: https://{{ .Values.editor_host }}
  AUTH0_DOMAIN: moj-forms.eu.auth0.com
  ENCODED_PUBLIC_KEY: {{ .Values.encoded_public_key }}
  METADATA_API_URL: http://fb-metadata-api-svc-{{ .Values.environmentName }}
  AV_HOST: fb-av-svc-{{ .Values.environmentName }}
  API_SUBMISSION: {{ .Values.api_submission }}
  NAME_SLUG: {{ .Values.name_slug }}
