<% content_for(:title) do %>
  <%= display_resource_name('Service') %>
<% end %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    API Submission
  </h1>

</header>

<section class="main-content__body main-content__body--flush">
  <div class="govuk-!-margin-left-5">


    <%= form_with(
        url: admin_service_api_submission_path(@service_id),
        method: :put,
        local: true) do |f| %>
      <%= f.submit 'Save', class: 'govuk-button fb-govuk-button', id: 'version-save' %>
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-3">
            3 character width
          </label>
          <input class="govuk-input govuk-input--width-3" id="width-3" name="width-3" type="text">
        </div>
    <% end %>

  </div>
</section>
