    <div>
      <%= govuk_warning_text(text: submission_presenter.heading, icon_fallback_text: submission_presenter.icon_fallback) %>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-left-7">
        <% submission_presenter.presenters.each do |presenter| %>
          <li><%= presenter.message %></li>
        <% end %>
      </ul>
    </div>
