version: 2.1
orbs:
  slack: circleci/slack@3.4.2
  ruby: circleci/ruby@1.1.3
  node: circleci/node@4.5.1
  browser-tools: circleci/browser-tools@1.1.3

jobs:
  build:
    docker:
      - image: 'cimg/ruby:2.7-node'
    steps:
      - checkout
      - ruby/install-deps
      - run: &node_version
          name: Swap node versions
          command: |
            set +e
            wget -qO- https://raw.githubusercontent.com/nvm-sh/nvm/v0.35.1/install.sh | bash
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
            nvm install v14.17.1
            nvm alias default 14.17.1

            echo 'export NVM_DIR="$HOME/.nvm"' >> $BASH_ENV
            echo '[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"' >> $BASH_ENV
      - node/install-packages:
          pkg-manager: yarn
      - slack/status: &slack_status
          fail_only: true
          only_for_branches: main
          failure_message: ":facepalm:  Failed job $CIRCLE_JOB  :homer-disappear:"
          include_job_number_field: false
  lint:
    docker:
      - image: 'cimg/ruby:2.7-node'
    steps:
      - checkout
      - ruby/install-deps
      - ruby/rubocop-check:
          format: progress
          label: running rubocop
      - slack/status: *slack_status
  security:
    docker:
      - image: 'cimg/ruby:2.7-node'
    steps:
      - checkout
      - ruby/install-deps
      - run: bundle exec brakeman -q --no-pager -i brakeman.ignore
      - slack/status: *slack_status
  rspec_test:
    docker: &test_image
      - image: 'cimg/ruby:2.7-node'
      - environment:
          POSTGRES_DB: editor_local
          POSTGRES_PASSWORD: password
          POSTGRES_USER: postgres
        image: 'circleci/postgres:12.4'
    environment: &test_environment
      BUNDLE_JOBS: '3'
      BUNDLE_RETRY: '3'
      PGHOST: 127.0.0.1
      PGPASSWORD: password
      PGUSER: postgres
      RAILS_ENV: test
    parallelism: 3
    steps:
      - checkout
      - ruby/install-deps
      - run: *node_version
      - node/install-packages:
          pkg-manager: yarn
      - run: &wait_for_db
          name: Wait for DB
          command: 'dockerize -wait tcp://localhost:5432 -timeout 1m'
      - run: &db_setup
          name: Database setup
          command: |
            bundle exec rails db:setup
            bundle exec rails db:migrate
      - run:
          name: Running the tests
          command: |
            TESTFILES=$(circleci tests glob "project/spec/**/*_spec.rb" | circleci tests split --split-by=name)
            bundle exec rspec $TESTFILES --profile 10
      - slack/status: *slack_status
  js_test:
    docker:
      - image: 'cimg/ruby:2.7-node'
    parallelism: 3
    steps:
      - checkout
      - run: *node_version
      - node/install-packages:
          pkg-manager: yarn
      - run:
          name: Running the tests
          command: |
            TESTFILES=$(circleci tests glob "project/test/**/*_test.js" | circleci tests split --split-by=name)
            yarn run jstest $TESTFILES --profile 10
      - slack/status: *slack_status
  build_web_testable_branch:
    working_directory: ~/circle/git/fb-editor
    docker: &ecr_image
      - image: $AWS_BUILD_IMAGE_ECR_ACCOUNT_URL
        aws_auth:
          aws_access_key_id: $AWS_BUILD_IMAGE_ACCESS_KEY_ID
          aws_secret_access_key: $AWS_BUILD_IMAGE_SECRET_ACCESS_KEY
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run: &build_sha
          name: Setup base environment variable
          command: |
            echo "export BUILD_SHA=$CIRCLE_SHA1" >> $BASH_ENV
      - run: &deploy_scripts
          name: cloning deploy scripts
          command: 'git clone git@github.com:ministryofjustice/fb-deploy.git deploy-scripts'
      - run:
          name: build testable editor web docker images
          environment:
            ENVIRONMENT_NAME: test
            IMAGE_TYPE: web
          command: './deploy-scripts/bin/build'
      - slack/status: &testable_slack_status
          fail_only: true
          failure_message: ":facepalm:  Failed job ${CIRCLE_JOB} for ${CIRCLE_BRANCH}  :homer-disappear:"
          include_job_number_field: false
  build_workers_testable_branch:
    working_directory: ~/circle/git/fb-editor
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run: *build_sha
      - run: *deploy_scripts
      - run:
          name: build testable editor workers docker images
          environment:
            ENVIRONMENT_NAME: test
            IMAGE_TYPE: workers
          command: './deploy-scripts/bin/build'
      - slack/status: *testable_slack_status
  deploy_testable_branch:
    working_directory: ~/circle/git/fb-editor
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - add_ssh_keys: &ssh_keys
          fingerprints:
            - 0f:d3:b5:c2:a1:7e:0a:a3:d3:2a:84:41:ef:cc:94:f5
      - run: &base_environment_variables
          name: Setup base environment variable
          command: |
            echo "export BUILD_SHA=$CIRCLE_SHA1" >> $BASH_ENV
            echo "export SSH_FILE_FOR_SECRETS=~/.ssh/id_rsa_0fd3b5c2a17e0aa3d32a8441efcc94f5" >> $BASH_ENV
      - run: *deploy_scripts
      - run:
          name: deploy to test
          environment:
            APPLICATION_NAME: fb-editor
            PLATFORM_ENV: test
            K8S_NAMESPACE: formbuilder-saas-test
          command: './deploy-scripts/bin/deploy'
      - slack/status: *testable_slack_status
  build_web_image:
    working_directory: ~/circle/git/fb-editor
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run: *build_sha
      - run: *deploy_scripts
      - run:
          name: build web docker images
          environment:
            ENVIRONMENT_NAME: test
            IMAGE_TYPE: web
          command: './deploy-scripts/bin/build'
      - slack/status: *slack_status
  build_workers_image:
    working_directory: ~/circle/git/fb-editor
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run: *build_sha
      - run: *deploy_scripts
      - run:
          name: build workers docker images
          environment:
            ENVIRONMENT_NAME: test
            IMAGE_TYPE: workers
          command: './deploy-scripts/bin/build'
      - slack/status: *slack_status
  deploy_to_test:
    working_directory: ~/circle/git/fb-editor
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - add_ssh_keys: *ssh_keys
      - run: *base_environment_variables
      - run: *deploy_scripts
      - run:
          name: deploy to test
          environment:
            APPLICATION_NAME: fb-editor
            PLATFORM_ENV: test
            K8S_NAMESPACE: formbuilder-saas-test
          command: './deploy-scripts/bin/deploy'
      - slack/status: *slack_status
  acceptance_tests:
    docker: *test_image
    resource_class: large
    environment: *test_environment
    parallelism: 3
    steps:
      - checkout
      - ruby/install-deps
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run: *wait_for_db
      - run: *db_setup
      - run:
          name: Run acceptance tests
          environment:
            ACCEPTANCE_TESTS_EDITOR_APP: 'https://fb-editor-test.apps.live-1.cloud-platform.service.justice.gov.uk/'
            CI_MODE: 'true'
          command: |
            TESTFILES=$(circleci tests glob "project/acceptance/**/*_spec.rb" | circleci tests split --split-by=name)
            bundle exec rspec acceptance $TESTFILES --profile 10 -f doc
      - slack/status: *slack_status
  testable_branch_acceptance_tests:
    docker: *test_image
    resource_class: large
    environment: *test_environment
    parallelism: 3
    steps:
      - checkout
      - ruby/install-deps
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - run: *wait_for_db
      - run: *db_setup
      - run:
          name: Run acceptance tests
          environment:
            ACCEPTANCE_TESTS_EDITOR_APP: "https://${CIRCLE_BRANCH}.apps.live-1.cloud-platform.service.justice.gov.uk/"
            CI_MODE: 'true'
          command: |
            TESTFILES=$(circleci tests glob "project/acceptance/**/*_spec.rb" | circleci tests split --split-by=name)
            bundle exec rspec acceptance $TESTFILES --profile 10 -f doc
      - slack/status:
          fail_only: true
          failure_message: ":facepalm:  Failed job $CIRCLE_JOB  :homer-disappear:"
          include_job_number_field: false
  deploy_to_live:
    working_directory: ~/circle/git/fb-editor
    docker: *ecr_image
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - add_ssh_keys: *ssh_keys
      - run: *base_environment_variables
      - run: *deploy_scripts
      - run:
          name: deploy to live
          environment:
            APPLICATION_NAME: fb-editor
            PLATFORM_ENV: live
            K8S_NAMESPACE: formbuilder-saas-live
          command: './deploy-scripts/bin/deploy'
      - slack/status:
          only_for_branches: main
          success_message: ":rocket:  Successfully deployed to Live  :guitar:"
          failure_message: ":alert:  Failed to deploy to Live  :try_not_to_cry:"
          include_job_number_field: false

workflows:
  version: 2
  test_and_build:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - /^testable-.*$/
      - lint:
          requires:
            - build
      - security:
          requires:
            - build
      - rspec_test:
          requires:
            - build
      - js_test:
          requires:
            - build
      - build_web_image:
          requires:
            - lint
            - security
            - rspec_test
            - js_test
          filters:
            branches:
              only:
                - main
      - build_workers_image:
          requires:
            - lint
            - security
            - rspec_test
            - js_test
          filters:
            branches:
              only:
                - main
      - deploy_to_test:
          requires:
            - build_web_image
            - build_workers_image
      - acceptance_tests:
          requires:
            - deploy_to_test
      - slack/approval-notification:
          message: ":portalorangeparrot:  Deployment to Live pending approval  :portalblueparrot:"
          include_job_number_field: false
          requires:
            - acceptance_tests
      - confirm_live_deploy:
          type: approval
          requires:
            - acceptance_tests
      - deploy_to_live:
          requires:
            - confirm_live_deploy
  deploy_testable_branch:
    jobs:
      - build:
          filters:
            branches:
              only:
                - /^testable-.*$/
      - lint:
          requires:
            - build
      - security:
          requires:
            - build
      - rspec_test:
          requires:
            - build
      - js_test:
          requires:
            - build
      - build_web_testable_branch:
          requires:
            - lint
            - security
            - rspec_test
            - js_test
          filters:
            branches:
              only:
                - /^testable-.*$/
      - build_workers_testable_branch:
          requires:
            - lint
            - security
            - rspec_test
            - js_test
          filters:
            branches:
              only:
                - /^testable-.*$/
      - deploy_testable_branch:
          requires:
            - build_web_testable_branch
            - build_workers_testable_branch
      - testable_branch_acceptance_tests:
          requires:
            - deploy_testable_branch
      - slack/approval-notification:
          message: ":test_tube: :test_tube: :test_tube:\nSuccessfully deployed branch\nVisit: https://${CIRCLE_BRANCH}.apps.live-1.cloud-platform.service.justice.gov.uk\n:test_tube: :test_tube: :test_tube:"
          include_job_number_field: false
          requires:
            - testable_branch_acceptance_tests
