<p class="fb-status-message fb-status-message--success" role="<%= items_present?(component.uuid) ? '' : 'status' %>" data-fb-status="autocomplete-success">
  <% if items_present?(component.uuid) %>
    <span class="fb-status-message__icon" aria-hidden="true"></span>
    <span class="fb-status-message__text"><%= t('dialogs.autocomplete.success') %></span>
  <% end %>
</p>

<script type="text/html" data-fb-template="autocomplete-success-message">
  <span class="fb-status-message__icon" aria-hidden="true"></span>
  <span class="fb-status-message__text"><%= t('dialogs.autocomplete.success') %></span>
</script>

<% unless items_present?(component.uuid) %>
  <div class="govuk-warning-text  govuk-warning-text--highlighted govuk-!-margin-bottom-5" data-fb-status="autocomplete-warning">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <%= t('dialogs.autocomplete.component_warning') %>
    </strong>
  </div>
<% end %>
