<section id="flow-standalone-pages" data-component="Expander">
  <h2 class="govuk-heading-s"><%= t('pages.footer') %></h2>
  <ul class="govuk-navigation pages">
    <% service.standalone_pages.each do |page| %>
      <li class="page">
        <%= flow_thumbnail(page) %>
        <%= link_to page.url, edit_page_path(service.service_id, page.uuid), class: 'govuk-link' %> <%= page.contains_placeholders? ? '!!' : 'OK' %>
      </li>
    <% end %>
  </ul>
</section>
