<script type="text/html"
        data-component-template="Dialog"
        data-classes="dialog-message">

  <div class="component component-dialog" id="dialog">
    <h3 id="dialog-title" data-node="heading" class="govuk-label govuk-label--m">
      <%= t('dialogs.heading') %>
    </h3>

    <p data-node="content">
      <%= t('dialogs.message') %>
    </p>

    <div class="govuk-button-group">
      <button class="govuk-button fb-govuk-button" data-node="confirm"><%= t('dialogs.button_ok') %></button>
    </div>
  </div>
</script>
