<% @page.components.each do |component| %>
  <script type="text/html"
          data-component-template="ContentMenu"
          data-activator-text="<%= t('content.menu.activator') %>">
    <ul class="govuk-navigation component-activated-menu">
      <li data-action="remove"><span class="destructive"><%= t('content.menu.remove')%></span></li>
      <% if ENV['CONDITIONAL_CONTENT'] == 'enabled' && moj_forms_dev? %>
      <li data-action="conditional-content"
        data-api-path="<%= URI.decode_www_form_component(new_api_service_conditional_contents_path(service.service_id, '#{component_uuid}'))%>">
        <span><%= t('content.menu.show_if') %></span>
      </li>
      <% end %>
    </ul>
  </script>
<% end %>
