<% @page.components.each do |component| %>
  <script type="text/html"
          data-component-template="ContentMenu"
          data-activator-text="<%= t('content.menu.activator') %>">
    <ul class="govuk-navigation component-activated-menu">
      <% if ENV['CONDITIONAL_CONTENT'] == 'enabled' && moj_forms_dev? %>
        <% unless @page.type == 'page.start' %>
          <li data-action="conditional-content">
            <span><%= t('content.menu.show_if') %></span>
          </li>
        <% end %>
      <% end %>
      <li data-action="remove"><span class="destructive"><%= t('content.menu.remove')%></span></li>
    </ul>
  </script>
<% end %>
