<% @page.components.concat(@page.extra_components).each do |component| %>
  <script type="text/html"
          data-component-template="ContentMenu"
          data-activator-text="<%= t('content.menu.activator') %>">
    <ul class="govuk-navigation component-activated-menu">
        <% unless @page.type == 'page.start' %>
          <li data-action="conditional-content">
            <span aria-haspopup="dialog"><%= t('content.menu.show_if') %></span>
          </li>
        <% end %>
      <li data-action="remove"><span class="destructive" aria-haspopup="dialog"><%= t('content.menu.remove')%></span></li>
    </ul>
  </script>
<% end %>
