<script type="text/html" data-component-template="PagePropertyFields">

  <form data-node="required">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <%= t('page.dialog.required_heading') %>
          </h1>
        </legend>
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="question_required_1" name="required" type="radio" value="true">
            <label class="govuk-label govuk-radios__label" for="question_required_1">
              <%= t('page.dialog.affirmative') %>
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="question_required_2" name="required" type="radio" value="false">
            <label class="govuk-label govuk-radios__label" for="question_required_2">
              <%= t('page.dialog.negative') %>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </form>

</script>
