<script type="text/html"
        data-component-template="QuestionMenu"
        data-activator-text="<%= t('page.activator') %>">
  <ul class="govuk-navigation component-activated-menu">
    <li data-action="required"><%= t('page_menu.required')%></li>
  </ul>
</script>
