<script type="text/html"
        data-component-template="DialogConfiguration"
        data-text-cancel="<%= t('dialogs.button_cancel') %>"
        data-text-ok="<%= t('dialogs.button_update') %>">

  <div class="component component-dialog component-dialog-configuration">
    <div data-node="content"></div>
    <div class="govuk-button-group">
      <button class="govuk-button fb-govuk-button" data-node="confirm"><%= t('dialogs.button_update') %></button>
      <button class="govuk-button govuk-button--secondary" data-node="cancel"><%= t('dialogs.button_cancel') %></button>
    </div>
  </div>
    
</script>
