<script type="text/html"
        data-component-template="ContentMenu"
        data-activator-text="<%= t('content.menu.activator') %>">
  <ul class="govuk-navigation component-activated-menu">
    <li data-action="remove"><span><%= t('content.menu.remove')%></span></li>
  </ul>
</script>
