<script type="text/html"
        data-component-template="DialogConfiguration"
        data-text-cancel="<%= t('dialogs.button_cancel') %>"
        data-text-ok="<%= t('dialogs.button_update') %>">

  <div class="component component-dialog component-dialog-configuration">
    <div data-node="content"></div>
  </div>
</script>
