<script type="text/html" data-component-template="ContentPropertyFields">

  <form data-node="remove">
    <!-- Using dialogConfirmationDelete so only require text here -->
    <%= t('content.dialog.heading_remove') %>
  </form>

</script>
