<script type="text/html"
        data-component-template="QuestionMenu"
        data-activator-text="<%= t('question.menu.activator') %>">
  <ul class="govuk-navigation component-activated-menu">
    <li data-action="required"><span><%= t('question.menu.required')%></span></li>
  </ul>
</script>
