<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <%= yield %>

  <%  if Rails.env.development? %>
   <div>
    <!--Display session attributes-->
    <strong>Session</strong>
    <%= render_answers_list(session[:questionnaire_answers]) %>

    <!--Display payload attributes-->
     <strong>Payload</strong>
    <%= render_answers_list(Questionnaire::AttributesExtractor.new(session[:questionnaire_answers]).extract!) %>
   </div>
  <% end %>
  </div>
</div>
