<% @flow.each do |items| %>
  <div class="column">
    <% items.each do |item| %>
      <% next if item.blank? %>
      <%= render(MojForms::Flow::FlowItemComponent.new(item: item)) %>
    <% end %>
  </div>
<% end %>
