<h1 class="govuk-heading-m">Accessibility statement</h1>

<p>This accessibility statement applies to the MoJ Forms application at moj-forms-editor.service.justice.gov.uk (the "editor").
It does not apply to the MoJ Forms product site or any form built using the editor, which have their own accessibility statements.</p>


<h2 class="govuk-heading-s">Using this application</h2>

<p>The MoJ Forms editor is run by the MoJ Forms team at the Ministry of Justice (MoJ). We want as many people as possible to be able to use it. For example, that means you should be able to:
<ul>
  <li>change colours, contrast levels and fonts</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>navigate the editor using just a keyboard</li>
  <li>navigate the editor using speech recognition software</li>
  <li>listen to the editor using a screen reader (including recent versions of JAWS, NVDA and VoiceOver)</li>
</ul>

We have also made the text as simple as possible to understand.</p>

<p><a href='https://mcmw.abilitynet.org.uk/' target="_blank">AbilityNet<a> has advice on making your device easier to use if you have a disability.</p>


<h2 class="govuk-heading-s">How accessible this application is</h2>
<p>We know some parts of the editor are not fully accessible:
<ul>
  <li>The form used to create and manage branching is not fully accessible to voice activation users. It may also hinder users with cognitive, language and learning disabilities.</li>
  </ul>
</p>


<h2 class="govuk-heading-s">Feedback and contact information</h2>

<p>If you have problems using the editor or need additional support, contact the MoJ Forms team at contact-moj-forms@digital.justice.gov.uk.</p>

<p>We'll consider your request and get back to you in 3 working days.</p>

<h2 class="govuk-heading-s">Reporting accessibility problems with this form</h2>

<p>We’re always looking to improve the accessibility of this application. If you find any problems or think we’re not meeting accessibility requirements, contact the MoJ Forms team at contact-moj-forms@digital.justice.gov.uk.</p>

<h2 class="govuk-heading-s">Enforcement procedure</h2>

<p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).</p>

<h2 class="govuk-heading-s">Technical information about this online form’s accessibility</h2>

<p>We are committed to making this form accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

<h2 class="govuk-heading-s">Compliance status</h2>

<p>The MoJ Forms editor is partially compliant with the Web Content Accessibility Guidelines (WCAG) version 2.2 AA standard, due to the non-compliances listed below.
<h2 class="govuk-heading-s">Non-accessible content</h2>
<p>The content listed below is non-accessible for the following reasons:
  <ul>
    <li>In the form used to create and manage branching, some of the accessible labels are different to the visible labels. This fails WCAG 2.5.3 Label in Name.</li>
    <li>In the form used to create and manage branching, several fields lack a visible label. This fails WCAG 3.3.2 Labels or Instructions.</li>
  </ul>
</p>


<h2 class="govuk-heading-s">Preparation of this accessibility statement</h2>

<p>This statement was prepared on 10 June 2024.</p>

<p>The editor was last tested on 22 April 2024 against the WCAG 2.2 AA standard.</p>

<p>The test was carried out by Digital Accessibility Centre. It included extensive automated and manual testing on a range of browsers and assistive technologies.</p>