<div class="component component-dialog component-dialog-api-request dialog-delete"
     data-component="DialogApiRequest">

  <h3 id="dialog-title" data-node="heading" class="govuk-label govuk-label--m">
    <%= t('dialogs.heading_delete_no_default_next') %>
  </h3>
  <p data-node="content">
    <%= t('pages.delete_modal.delete_branch_destination_page_no_default_next_message') %>
  </p>

  <div>
    <button class="govuk-button fb-govuk-button">
      <%= t('dialogs.button_understood') %>
    </button>
  </div>
</div>
