<div class="component component-dialog component-dialog-api-request dialog-delete"
     data-component="DialogApiRequest">

  <h3 id="delete-page-used-for-confirmation-email-dialog-title" data-node="heading" class="govuk-label govuk-label--m">
    <%= t('pages.delete_modal.can_not_delete_email_page_heading') %>
  </h3>
  <p data-node="content">
    <%= t('pages.delete_modal.can_not_delete_email_page_message') %>
  </p>

  <div class="govuk-button-group">
    <%= link_to t('pages.delete_modal.go_to_email_settings'),
      settings_confirmation_email_index_path(service.service_id),
      class: "govuk-button fb-govuk-button"%>

    <button class="govuk-button govuk-button--secondary ui-button"><%= t('dialogs.button_cancel') %></button>
  </div>
</div>

