<div class="component component-dialog component-dialog-api-request"
     data-component="DialogApiRequest">

  <h3 data-node="heading" class="govuk-label govuk-label--m">
    <%= t('pages.delete_modal.you_cannot_delete_this_page') %>
  </h3>
  <p data-node="content">
    <%= t('pages.delete_modal.delete_page_used_for_branching_not_supported_message') %>
  </p>

  <div class="govuk-button-group">
    <button class="govuk-button fb-govuk-button"><%= t('dialogs.button_understood') %></button>
  </div>
</div>
