 <div class="component component-dialog component-dialog-delete" id="dialog-confirmation-delete">
   <h3 data-node="heading" class="govuk-label govuk-label--m">
     <%= t('pages.delete_modal.you_cannot_delete_this_page') %>
   </h3>
   <p data-node="content">
     <%= t('pages.delete_modal.stack_branches_not_supported_message') %>
   </p>
</div>
