<%= f.fields_for :conditionals, child_index: conditional_index do |conditional| %>
  <div class="content-visibility" data-conditional-index="<%= conditional.index %>">
    <%= render 'form_expressions', conditional: conditional %>
  </div>
<% end %>



