/**
 * Activated Menu Component
 * ----------------------------------------------------
 * Description:
 * Enhances jQueryUI Menu component by adding a controlling activator.
 *
 * Documentation:
 *
 *     - jQueryUI
 *       https://api.jqueryui.com/menu
 *
 **/

.ActivatedMenuContainer {
  position: absolute;
}

.ActivatedMenuActivator {
  @include icon_button;

  &:focus {
    border-color: govuk-colour("black");
  }
}

.ActivatedMenu {
  a,
  span {
    @include button_type_link;
    border: none;
    display: block;
    padding: 10px;

    &.destructive:hover {
      background-color: $govuk-error-colour;
    }

    &:focus-visible {
      @include focus;
      outline: $govuk-focus-width solid transparent;
      outline-offset: calc(-1 * $govuk-focus-width);
      box-shadow: none;
    }
  }

  span {
    padding-right: 30px;
    position: relative;

    &[aria-haspopup] {
      &:after {
        content: ">";
        font-family: monospace;
        font-size: 22px;
        height: 100%;
        position: absolute;
        right: 10px;
        top: 10px;
        vertical-align: middle;
      }
    }

    &[aria-checked="true"] {
      &:after {
        content: "\2713";
        font-size: 16px;
        height: 100%;
        position: absolute;
        right: 10px;
        top: 12px;
        vertical-align: middle;
      }
    }
  }

  @media (forced-colors: active) {
    a,
    span {
      color: LinkText;
      &:focus-visible {
        color: LinkText;
      }
    }
  }

  &,
  li > ul {
    border: govuk-colour("blue") solid 2px;
    position: absolute;
    width: 250px;
  }

  .ui-menu-icon {
    /* jQueryUI Menu is adding unwanted icon markup when <a> tags are replaced with <span> tags */
    display: none;
  }
}
