/**
 * Expander Component
 * ----------------------------------------------------
 * Description:
 * Enhanced area that expands and collapses.
 *
 * Documentation:
 *
 **/
button.Expander__activator {
  @include button_as_link;
  background: transparent;
  font-weight: inherit;

  &::before {
    border-color: transparent;
    border-left-color: $govuk-link-colour;
    border-style: solid;
    border-width: 0.75ex;
    content: "";
    display: inline-block;
    margin: 0 0.5ex 0 0;
  }

  &[aria-expanded="true"]::before {
    position: relative;
    top: 0.5ex;
    transform: rotate(90deg);
  }

  &:focus {
    background: govuk-colour('yellow');
    color: govuk-colour('black');
    &::before {
      border-left-color: govuk-colour('black');
    }
  }
}
