/*
* Some simple tweaks to the default warning text to improve the alignment of
* icon and warning text using display: flex.  The simple usage of flex here is
* supported from IE10 so should be no browser support issues.
*
*/
.govuk-warning-text {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;

  &__icon {
    display: block;
    position: relative;
    flex-shrink: 0;
    margin-top: 0;
  }
  &__text {
    padding-left: 0;
    margin-left: 10px;
  }

  &--highlighted {
    .govuk-warning-text__icon {
      border-color:  $govuk-brand-colour;
      background-color:  $govuk-brand-colour;
    }

    .govuk-warning-text__text {
      color:  $govuk-brand-colour;
    }
  }

  @mixin triangle {
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
  }

  @mixin hexagon {
      clip-path: polygon( 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      padding-top: 3px;
  }

  &--error {
    .govuk-warning-text__icon {
      border: none;
      background-color: $govuk-error-colour;
      border-radius: unset;
      min-width: 40px;
      @include hexagon;
    }

    &.icon-triangle .govuk-warning-text__icon {
      @include triangle;
    }

    &.icon-hexagon .govuk-warning-text__icon {
      @include hexagon;
    }

    .govuk-warning-text__text {
      color:  $govuk-error-colour;

      a,
      a:visited {
        @include govuk-link-style-error;
      }
    }

  }
}
