/**
 * Activated Menu Component
 * ----------------------------------------------------
 * Description:
 * Enhances jQueryUI Menu component by adding a controlling activator.
 *
 * Documentation:
 *
 *     - jQueryUI
 *       https://api.jqueryui.com/menu
 *
 **/

.ActivatedMenuContainer {
  position: absolute;
}

.ActivatedMenuActivator {
  @include icon_button;

  &:focus {
    border-color: govuk-colour('black');
  }

  &::after {
    content: url('../images/three-dots-blue.svg');
    display: block;
    position: absolute;
    font-weight: bold;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: 0;
  }

  &:hover::after {
    content: url('../images/three-dots-white.svg');
  }

  &:focus::after {
    content: url('../images/three-dots-black.svg');
  }
}

.ActivatedMenu {
  a, span {
    @include button_type_link;
    border: none;
    display: block;
    padding: 10px;

    &.destructive:hover {
      background-color: $govuk-error-colour;
    }

    &:focus-visible {
      outline: none;
    }

    &:focus {
      @include focus;
      outline: none;
      box-shadow: none;
    }
  }

  span {
    padding-right: 30px;
    position: relative;

    &[aria-haspopup] {
      &:after {
        content: ">";
        font-family: monospace;
        font-size: 22px;
        height: 100%;
        position: absolute;
        right: 10px;
        top: 10px;
        vertical-align: middle;
      }
    }

    &[aria-checked="true"] {
      &:after {
        content: "\2713";
        font-size: 16px;
        height: 100%;
        position: absolute;
        right: 10px;
        top: 12px;
        vertical-align: middle;
      }
    }
  }


  &, li > ul {
    border: govuk-colour("blue") solid 2px;
    position: absolute;
    width: 250px;
  }

  .ui-menu-icon {
    /* jQueryUI Menu is adding unwanted icon markup when <a> tags are replaced with <span> tags */
    display: none;
  }
}
