/* Note:
 * These styles rely on some sass code from the govuk design files.
 * Specific customisations for the MOJ form builder Editor.
 **/


.width-responsive-two-thirds {
  @include responsive_width("two-thirds");
}


/* General rules
 * ------------- */
body {
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  background-color: govuk-colour("light-grey");
  min-height: 100%;
  position: relative;
}

.sr-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

#header-logo-link {
  display: inline-block;
  margin-right: govuk-spacing(2);
  position: relative;
  top: -2px;
  vertical-align: middle;
}

#main-content {
  position: relative;
  min-height: 55vh;

  // Quickfix for Brief flash of content not ready for display.
  // This can be reversed when slow or view reliant JS has
  // finished running. We're using the controller name + action
  // so we can use it only where actually needed. Find the
  // corresponding JS controller+action function to see where it
  // is turned off/reversed.
  &.services-edit {
    visibility: hidden;
  }
}


/* FB-Editor styles
 * ---------------- */
.fb-editable {
  // Trying to compensate for inherit GovUK maring-top settings
  // (or lack of them) on <p> tags and things that should be in them.
  margin-bottom: 1.2em;
}

.fb-editor-list,
.fb-editor-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.fb-editor-form-list {
  border-top: govuk-colour("mid-grey") solid 1px;
  margin-bottom: govuk-spacing(5);

  a {
    margin-left: 1ex;
  }

  li {
    border-bottom: govuk-colour("mid-grey") solid 1px;
    display: table;
    padding: govuk-spacing(3) 0;
    width: 100%;

    &:last-child {
      border: none;
    }
  }

  .actions {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 25%;
  }

  .name {
    display: table-cell;
    width: 75%;
  }
}

#fb-editor-save {
  position: absolute;
  right: 0;
  top: 3px;

  @include govuk-media-query($until: tablet) {
    position: static;
  }
}

.fb-govuk-button {
  // govuk-button style is green but we want blue buttons on fb-editor.
  @include fb-govuk-button;
}

.fb-govuk-button-inverted {
  @include button_type_link;
}

.fb-preview-button {
  float: right;
}


/* Publishing
 * ------------------- */
.publish-form {
  .govuk-radios {
    margin-bottom: govuk-spacing(6);
  }
}

#publish-intro {
  .time {
    color: $govuk-secondary-text-colour;
  }
}

#publish-environments {
  padding-top: 1.5em;

  dd {
    margin: 0 0 1em 0;
  }

  .description {
    color: $govuk-secondary-text-colour;
  }
}


/* Branching
 * ------------------- */
.branch-or {
  font-weight: bold;
  text-align: center;
}

.Branch,
#branch-otherwise {
  @include container_panel;
  padding: govuk-spacing(5) govuk-spacing(5) 1px govuk-spacing(5);
  position: relative;

  p:first-child {
    color: govuk-colour("dark-grey");
    margin: 0;
    position: relative;
    top: -10px;
  }

  @include govuk-media-query($until: tablet) {
    padding-right: govuk-spacing(5);
  }

  .ActivatedMenu_Activator {
    position: absolute;
    right: govuk-spacing(5);
    top: govuk-spacing(5);
  }
}

.BranchAnswer {
  clear: both;
  float: right;
  margin-bottom: govuk-spacing(6);
  width: 85%;

  select {
    &:first-child {
      width: 35%;
    }

    &:last-child {
      float: right;
      width: 60%;
    }
  }

  @include govuk-media-query($until: tablet) {
    & {
      width: 100%;
    }
  }
}

.BranchCondition {
  margin-left: 100px;
  overflow: hidden;
  padding-right: 75px;
  position: relative;

  &:after {
    background-color: $govuk-border-colour;
    content: "";
    display: block;
    height: calc(100% - #{govuk-spacing(6)});
    right: calc(85% + #{govuk-spacing(6)});
    position: absolute;
    top: 0;
    width: 5px;
  }

  &.error {
    &:after {
      background-color: $govuk-error-colour;
    }
  }

  .error-message {
    color: $govuk-error-colour;
    font-weight: bold;
  }

  @include govuk-media-query($until: tablet) {
    & {
      margin-left: 0;
    }

    &:after {
      display: none;
    }

    select {
      float: none;
      width: 100%;
    }
  }
}

.BranchConditionInjector {
  @include button_as_link;
  background-color: transparent;
  margin-bottom: govuk-spacing(5);
  margin-left: 100px;

  @include govuk-media-query($until: tablet) {
    margin-left: 0;
  }
}

.BranchConditionRemover {
  @include icon_button;
  background-image: url("../images/trash_can_icon_blue.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: govuk-spacing(5);
  top: 0;

  &:focus,
  &:hover {
    background-image: url("../images/trash_can_icon_white.svg");
  }
}

.BranchDestination,
#branch-otherwise .destination {
  margin-right: 75px;
  padding-left: 100px;
  position: relative;

  label {
    @include govuk-font($size: 24);

    font-weight: bold;
    display: inline;
    left: 0;
    margin-right: govuk-spacing(2);
    position: absolute;
    top: 4px;
  }

  select {
    @include govuk-font($size: 24);

    font-weight: bold;
    float: right;
    height: auto;
    width: 100%;
  }

  @include govuk-media-query($until: tablet) {
    & {
      padding-left: 0;
    }

    select {
      float: none;
      width: 100%;
    }
  }
}

.BranchQuestion {
  float: right;
  width: 85%;

  label {
    display: inline;
    font-weight: bold;
    left: 0;
    line-height: 40px;
    margin-right: govuk-spacing(2);
    position: absolute;
    top: 0;
    vertical-align: middle;
  }

  select {
    width: 100%;
  }

  &.govuk-form-group--error {
    border-left: none;
  }

  @include govuk-media-query($until: tablet) {
    & {
      margin-left: 0;
      width: 100%;
    }

    select {
      float: none;
    }
  }
}

.branch-actions {
  @include container_panel;
}

.branches {
  @include responsive_width("three-quarters");

  @include govuk-media-query($until: tablet) {
    label {
      display: block;
      line-height: 1.2em;
      position: static;
    }
  }
}


/* Editable components
 * ------------------- */
.AddComponent,
.AddContent {
  margin: govuk-spacing(9) 0;

  a {
    @include addition_icon;

    &:after {
      display: none;
    }
  }
}

.EditableContent {
  .input {
    border: none;
    display: none;
    font: inherit;
    min-height: 200px; // Arbitrary
    width: 100%;
  }

  &.active {
    .input {
      display: block;
      outline: $govuk-focus-width solid $govuk-focus-colour;
    }

    .output {
      display: none;
    }
  }
}

.EditableCollectionFieldComponent,
.EditableGroupFieldComponent,
.EditableTextFieldComponent,
.EditableTextareaFieldComponent {
  :disabled {
    background-color: govuk-colour("white");
  }
}

.EditableCollectionFieldComponent,
.EditableContent,
.EditableGroupFieldComponent,
.EditableTextFieldComponent,
.EditableTextareaFieldComponent,
.EditableComponentCollectionItem {
  position: relative;

  .ActivatedMenu_Activator {
    left: -40px;
    opacity: 0;
    position: absolute;
    top: 0;
  }

  &.active {
    .ActivatedMenu_Activator {
      opacity: 1;
    }
  }
}


// Not nice but trying to work around some margin annoyance caused by GDS css
[data-fb-pagetype="page.multiplequestions"] {
  .EditableCollectionFieldComponent legend {

    legend {
      display: contents;
    }

    .ActivatedMenu_Activator {
      top: 45px;
    }
  }
}

.EditableElement {
  &:focus,
  &.active {
    outline: $govuk-focus-width solid $govuk-focus-colour;
  }
}

.editableCollectionItemControls {
  z-index: 1; // Attempt to prevent focus difficulty with GovUK radio inputs.

  .ActivatedMenu_Menu {
    border: none;
    width: auto;
  }
}


/* Injected/dynamic components
 * --------------------------- */
.ActivatedMenu_Activator {
  &.active {
    opacity: 1;
  }
}

.EditableCollectionItemInjector {
  @include button_type_link;
  @include addition_icon;
  margin: 0 0 0 55px;
}

.EditableCollectionItemRemover {
  @include button_type_link;

  &:hover {
    background-color: govuk-colour("red");
    border-color: govuk-colour("red");
    color: govuk-colour("white");
  }
}

.EditableCollectionFieldComponent + [type=submit] {
  // Workaround to compensate for GDS CSS issues
  margin-top: 55px;
}


/* NEW FORM FLOW CSS
 * ------------------------ */

.services-edit {
  main {
    // Quickfix for Brief flash of content not ready for display.
    // This can be reversed when slow or view reliant JS has
    // finished running. We're using the controller name + action
    // so we can use it only where actually needed. Find the
    // corresponding JS controller+action function to see where it
    // is turned off/reversed.
    visibility: hidden;

    &.jsdone {
      visibility: visible;
    }
  }

  .ui-widget-overlay {
    z-index: 1;
  }

  .FlowConnectorLine,
  .FlowConnectorPath {
    z-index: 2;

    &.active {
      z-index: 3;
    }
  }

  .FlowItemMenu {
    z-index: 4;
  }

  .ui-dialog {
    z-index: 5;
  }
}

.ServicesContentScrollContainer {
  // Due to layout element of GDS templates, the scroll dimensions
  // need to be calculated by JS (cannot just use width:100%).
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}

.FlowConnectorLine,
.FlowConnectorPath {
  // A note about the height and width settings.
  // They should both be zero because we want to avoid element overlap to
  // allow for use of hover over event in making Conneciton menus appear.
  // However, although this setting works fine in Firefox, there seems to
  // be a bug in Chrome that simply hides FlowConnectorPath elements from
  // being seen. By accidental tinkering, it seems that giving them a
  // value of 100px works !?!? Not sure why, at time of writing. Also,
  // after playing with it for a couple minutes, it seems setting to 10px
  // still does not work and, setting to 50px makes them appear but gives
  // an incorrectly placed layout. So, 100px is perhaps the magic number
  // although, that doesn't rule out others having equally magical
  // properties. For now, will be leaving as 100px with fingers crossed.
  left: 0px;
  height: 100px;
  overflow: visible;
  position: absolute;
  top: 0px;
  width: 100px;

  path {
    display: block; // So we can capture a jQuery height calculation
    fill: none;
    stroke: #949494;
    stroke-width: 2px;
  }

  .arrowPath {
    fill: #949494;
  }

  &.active {
    path {
      stroke-width:4px;
      stroke: $govuk-link-hover-colour;
    }

    .arrowPath {
      fill: $govuk-link-hover-colour;
    }
  }
}

.FlowItemMenuActivator {
  display: inline-block;
  left: 157px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: calc(125px - 43px);
}

.flow-add-page-button {
  // TEMPORARY: BRANCHING FEATURE FLAG
  // This should be display:none only but the other css is required for supporting the
  // old style view of Add Page button functionality due to shared branching on/off code.
  border-radius: 0;
  display: none;
  height: auto;
  padding: 5px 10px;
  text-indent: 0;
  white-space: nowrap;
  width: auto;

  &:after {
    display: none;
  }

  &:before {
	  content: "+";
	  margin-right: 5px;
  }
}

.flow-branch {
  height: 125px;
  width: 200px;

  & > a {
    box-sizing: border-box;
    color: govuk-colour("black");
	  display: inline-block;
    margin-top: 30px;
    padding: 0 40px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: inherit;
  }

  img {
    background-color: govuk-colour("white");
    height: 125px;
    left: 0;
    position: absolute;
    top: 0;
    width: inherit;
  }

  .FlowItemMenuActivator {
    bottom: 10px;
    left: 82px;
    top: calc(125px - 45px);
  }
}

// Bit complicated but necessary for correct Activator hover (without JS intervention)
.flow-branch a:hover ~ .ActivatedMenu_Activator,
.flow-branch map:hover ~ .ActivatedMenu_Activator,
.flow-branch .ActivatedMenu_Activator:hover,
.flow-page .ActivatedMenu_Activator:hover,
.flow-thumbnail:hover ~ .ActivatedMenu_Activator {
  opacity: 1;
}

.flow-condition {
  @include list_reset;
  margin: 0 50px;
  text-align: center;
  width: 300px;

  a, span {
    @include govuk-font($size: 16);

    color: $govuk-secondary-text-colour;
    display: inline;
    position: static;
    width: auto;
  }

 .operator {
    color: $govuk-secondary-text-colour;
    font-weight: bold;
  }

  .condition-operator {
    text-transform: uppercase;
    font-weight: bold;
  } 
}

.flow-conditions {
  @include list_reset;
  left: 0;
  position: absolute;
  top: 0;
}

.flow-expression {
  display: inline-block;
}

.flow-item {
  overflow: visible;

  .text {
    word-break: break-word;
  }
}

.flow-link {
  display: inline-block;
  margin-top: govuk-spacing(2);
  width: 200px;
}

.flow-page {
  height: 250px;
  overflow: hidden;
  vertical-align: middle;
  width: 200px;
}

.flow-pointer {
  width: 200px;

  span {
    background-color: govuk-colour("white");
    display: table-cell;
    height: 125px;
    padding-left: 0.5em;
    vertical-align: middle;
  }
}

.flow-thumbnail {
  background-color: govuk-colour("white");
  border:  $govuk-link-colour solid 2px;
  display: block;
  height: 121px;
  margin-bottom: govuk-spacing(2);
  overflow: hidden;
  text-decoration: none;
  width: 196px;

  &:hover {
    border-color: $govuk-link-hover-colour;
  }

  img {
    display: block;
    width: inherit;
  }

  .text {
    box-sizing: border-box;
    color: govuk-colour("black");
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 15px 10px 15px;
  }

  /* Special case for styling the title */
  &.confirmation {
    span {
      background-color: $govuk-success-colour;
      color: govuk-colour("white");
      max-width: 72%;
      padding: 10px 5px;
      text-align: center;
    }

    .body {
      display: none;
    }
  }

  &.standalone {
    border:  $govuk-link-colour solid 2px;
    box-sizing: border-box;
    height: 125px;
  }
}

.flow-warning{
  padding-top: 25px;
  width: 330px;
}

#flow-detached {
  margin-bottom: 100px;
  overflow: visible;

  h2 {
    display: inline-block;
  }

  .Expander_container {
    @include govuk-width-container($govuk-page-width);
  }

  .flow-detached-group {
    position: relative;
  }
}

#flow-overview {
  margin-bottom: 100px;
  min-height: 200px; // Temporary workaround of intermittent height calculation issues
  position: relative;
}

#flow-standalone-pages {
  li {
    display: inline-block;
    margin-bottom: govuk-spacing(9);
    margin-right: govuk-spacing(9);
    width: 200px;
  }
}


/* Question Menu
 * ------------- */
.QuestionMenu {
  [data-action="required"].on {
    position: relative;

    span {
      &:after {
        border-color: $govuk-link-colour;
        border-style: solid;
        border-width: 0 2px 3px 0;
        bottom: 13px;
        content: "";
        display: block;
        height: 17px;
        position: absolute;
        right: 17px;
        transform: rotate(45deg);
        width: 6px;
      }

      &:hover {
        &:after {
          border-color: govuk-colour("white");
        }
      }
    }
  }
}


/* govuk-navigation does not appear to exist
 * so adding something simple here.
 * ----------------------------------------- */
.govuk-navigation {
  &, li {
    @include list_reset;
  }
}


/* govuk-app-navigation does not appear to exist
 * but these styles are influenced by the GovUK
 * design system site.
 * These styles add to .govuk-navigation (above)
 * --------------------------------------------- */
.govuk-navigation-app {
  background-color: govuk-colour("light-grey");
  border-bottom: govuk-colour("mid-grey") solid 1px;
  box-sizing: border-box;
  line-height: 1.25em;
  overflow: hidden;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;

  .heading {
    display: inline-block;
    margin: 0;
    width: 55%;
    padding: govuk-spacing(2) 0;

    @media (max-width: 750px) {
      min-width: 55%;
      width: auto;
    }

  }

  a {
    &,
    &:hover {
      @include govuk-font($size: 19);
      border-bottom:  govuk-colour("light-grey") solid 4px;
      color: $govuk-link-colour;
      display: block;
      font: inherit;
      padding: govuk-spacing(2);
      padding-bottom: calc(#{govuk-spacing(2)} - 4px); // Calc to compensate for border
      text-decoration: none;
    }

    &:focus {
      @include govuk-focused-text;
      outline-offset: 0;
    }

    &:hover {
      color: govuk-colour("light-blue");
    }
  }

  li {
    display: inline-block;
    font-weight: 700;
    margin-left: govuk-spacing(5);
    text-align: right;

    &.current {
      a {
        border-color:  govuk-colour("blue");

        &:focus {
          border-color: $govuk-text-colour;
        }
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }

  ul {
    display: inline-block;
    text-align: right;
    vertical-align: bottom;

    @include govuk-media-query($from: tablet) {
      width: auto;
    }

    @include govuk-media-query($from: desktop) {
      width: 44%;
    }
  }
}

// For when a user is signed in
.govuk-navigation-header {
  color: govuk-colour("white");
  float: right;

  a {
    &:link {
      text-decoration: none;
    }

    &,
    &:hover {
      color: govuk-colour("white");
      font: inherit;
      text-decoration: underline;
    }

    &:hover {
      color: govuk-colour("white");
    }
  }

  li {
    display: inline;
    margin-left: govuk-spacing(2);
  }
}

/* Override or enhance GovUK styles
 * -------------------------------- */
.govuk-form-group--error {

  option {
    color: $govuk-text-colour;
  }

  select {
    border-color: $govuk-error-colour;
    color: $govuk-error-colour;
  }

  .govuk-input {
    border: $govuk-border-width-form-element-error solid $govuk-error-colour;

    &:focus {
      border-color: $govuk-input-border-colour;
    }
  }
}

.govuk-link {
  &.destructive:focus {
    background-color: govuk-colour("red");
    color: govuk-colour("white");
  }
}

.govuk-header {
  // Try to get consistency between with/without page navigation bars
  // and even update space above/below main headings.
  margin-bottom: 0;
}

.govuk-heading-xl {
  word-break: break-word;
}

.govuk-panel--confirmation {
  // Design has informed should not be full width
  width: govuk-grid-width("two-thirds");

  @include govuk-media-query($until: tablet) {
    width: 100%;
  }

  .govuk-panel__body {
    margin-bottom: 0; // Couter other rules to get back to original.
  }

  .govuk-panel__title {
    margin-bottom: govuk-spacing(6); // Counter other rules to get back to original.
  }
}

.govuk-checkboxes__input:disabled + .govuk-checkboxes__label,
.govuk-radios__input:disabled + .govuk-radios__label {
	opacity: 1;
}
