/* Note:
 * These style rely on some sass code from the govuk design files
 * This should only contain mixins written specifically for the
 * MOJ form builder (Editor) environment.
 **/


@mixin responsive_width($width: full, $at: tablet) {
  @if $at != desktop {
    width: 100%;
  }

  @include govuk-media-query($from: $at) {
    width: govuk-grid-width($width);
  }
}

@mixin button_as_link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-font($size: 19);

  background: transparent;
  border: none;
  color: $govuk-link-colour;
  cursor: pointer;
  display: inline;
  padding: 0;
}

@mixin button_type_link {
  @include govuk-font($size: 19);
  background-color: govuk-colour("white");
  border: govuk-colour("blue") solid 2px;
  border-radius: 0;
  color: govuk-colour("blue");
  cursor: pointer;
  display: inline-block;
  height: auto;
  padding: govuk-spacing(1) govuk-spacing(2);
  text-decoration: none;
  text-indent: 0;
  width: auto;

  &:hover {
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
  }

  &[disabled] {
    background-color: govuk-colour("white");
    border: govuk-colour("blue") solid 2px;
    color: govuk-colour("blue");
    opacity: 0.5;
  }
}

@mixin focus {
  background-color: $govuk-focus-colour;
  color: $govuk-focus-text-colour;
  outline: $govuk-focus-width solid $govuk-focus-colour;
}

@mixin fb-govuk-button {
  @include govuk-font($size: 19);
  background-color: govuk-colour("blue");

  &:hover,
  &[disabled],
  &[disabled='disabled'],
  &[disabled='disabled']:hover,
  &[aria-disabled="true"]:hover {
    background-color: govuk-colour("dark-blue");
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }
}

@mixin addition_icon {
  &:before {
    content: "+";
    margin-right: 5px;
  }
}

@mixin container_panel {
  background-color: govuk-colour("light-grey");
  border-radius: 15px;
  padding: govuk-spacing(3) govuk-spacing(4);
}

@mixin icon_button {
  @include button_type_link;
  border: govuk-colour("blue") solid 2px;
  border-radius: 25px;
  height: 35px;
  padding: 0;
  text-indent: -10000px;
  width: 35px;

  &:hover {
    border-color: $govuk-link-colour;
    outline: none;
  }

  &:focus {
    @include focus;
    border-color: $govuk-focus-colour;
    outline: none;
  }



  &.destructive:focus,
  &.destructive:hover {
    background-color: govuk-colour("red");
    border-color: govuk-colour("red");
    color: govuk-colour("white");
  }
}

@mixin list_reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
