.text-error {
  color: govuk-colour('red');
}

.text-success {
  color: govuk-colour('green');
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}
.white-space-pre-wrap {
  white-space: pre-wrap;
}

.clear-both {
  clear: both;
}
