<div class="component component-dialog component-dialog-delete" id="dialog-confirmation-delete">
  <h3 data-node="heading" class="govuk-label govuk-label--m">
    <%= t('questions.delete_modal.can_not_delete_heading') %>
  </h3>
  <p data-node="content">
    <% if pages.size > 1 %>
      <%= t('questions.delete_modal.delete_question_used_for_conditional_content_message_multiple', titles: pages.map(&:heading).map{|text| "'#{text}'"}.to_sentence) %>
    <% else %>
      <%= t('questions.delete_modal.delete_question_used_for_conditional_content_message_single', title: pages.first.heading) %>
    <% end %>
  </p>

  <div class="govuk-button-group">
    <button class="govuk-button fb-govuk-button"><%= t('dialogs.button_understood') %></button>
  </div>
</div>
