<div class="component component-dialog component-dialog-delete" id="dialog-confirmation-delete">
  <h3 data-node="heading" class="govuk-label govuk-label--m"><%= t('dialogs.heading_delete') %></h3>
  <p data-node="content"><%= t('dialogs.message_delete') %></p>
</div>
