.conditional {
  @include container_panel;

  @include govuk-media-query($until: tablet) {
    padding-right: govuk-spacing(5);
  }

  padding-top: govuk-spacing(3);
  padding-bottom: govuk-spacing(4);
  padding-right: 100px;
  position: relative;

  &:last-child {
    margin-bottom: govuk-spacing(6);
  }
}

.conditional__question {
  padding-left: 15%;
  position: relative;

  label {
    @include govuk-font($size: 24);

    display: inline-block;
    font-weight: bold;
    left: 0;
    position: absolute;
    top: 5px;
  }

  select {
    width: 100%;
  }

  &.govuk-form-group--error {
    border-left: none;
  }

  > h3 {
    margin-top: 0;
  }
}

.conditional__remover {
  position: absolute;
  right: 16px;
  top: 16px;
}

.conditional-separator {
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}








