.conditional {
  @include container_panel;

  @include govuk-media-query($until: tablet) {
    padding-right: govuk-spacing(5);
  }

  padding-bottom: govuk-spacing(3);
  padding-right: 100px;
  position: relative;
  
  &:last-child {
    margin-bottom: govuk-spacing(6);
  }
}

.conditional__remover {
  position: absolute;
  right: 15px;
  top: 15px;
}

.conditional-separator {
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}








