.expression {
  margin-top: govuk-spacing(6);
  // padding-left: govuk-spacing(3);
  position: relative;

  &:after {
    background-color: $govuk-border-colour;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    width: 5px;
    height: 100%;
  }

  &.error {
    &:after {
      background-color: $govuk-error-colour;
    }

    p{
      color: $govuk-error-colour;
      font-weight: bold;
      margin-top: govuk-spacing(3);
      margin-bottom: govuk-spacing(1);
    }
  }
}

.expression + .expression {
  margin-top: govuk-spacing(9);
}


.expression__condition {
  clear: both;
  margin-left: 15%;
  padding-top: govuk-spacing(7);
  width: 85%;

  @include govuk-media-query($until: tablet) {
    & {
      width: 100%;
    }
  }
}

.expression__operator {
  margin-right: 18px;
  width: calc(40% - 22px);
}

.expression__answer {
  width: 60%;
}

.expression__remover {
  position: absolute;
  right: -50px;
  top: 0;
}
