.icon-button {
  @include icon_button;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-button--remove {
  @extend .destructive;

  background-image: url("../../images/trash_can_icon_blue.svg");

  &:focus,
  &:hover {
    background-image: url("../../images/trash_can_icon_white.svg");
  }
}

.icon-button--up {
  background-image: url("../../images/arrow_up_icon_blue.svg");

  &:hover {
    background-image: url("../../images/arrow_up_icon_white.svg");
  }
  &:focus {
    background-image: url("../../images/arrow_up_icon_black.svg");
  }
}

.icon-button--down {
  background-image: url("../../images/arrow_down_icon_blue.svg");

  &:hover {
    background-image: url("../../images/arrow_down_icon_white.svg");
  }
  &:focus {
    background-image: url("../../images/arrow_down_icon_black.svg");
  }
}
