[data-controller*="movable-item "] {
  position: relative;

  [data-movable-item-target="upButton"],
  [data-movable-item-target="downButton"] {
    display: none;
  }

  &.moving {
    [data-movable-item-target="upButton"],
    [data-movable-item-target="downButton"] {
      display: block;
    }
  }

  &:hover,
  &:focus-within {
    [data-movable-item-target="upButton"],
    [data-movable-item-target="downButton"] {
      display: block;
    }

    &:first-child {
      [data-movable-item-target="upButton"] {
        display: none;
      }
    }

    &:last-child {
      [data-movable-item-target="downButton"] {
        display: none;
      }
    }
  }
}
