<%= mojf_settings_screen(
  heading:t('settings.submission.heading'),
  ) do |c| %>

  <% c.with_back_link(href: settings_path) %>

  <nav class="govuk-navigation" aria-labelledby="page-heading">
    <%= mojf_definition_list do |c| %>
      <% c.with_items([
        {
          title: t('settings.from_address.heading'),
          href: settings_from_address_index_path(service.service_id),
          description: t('settings.from_address.lede')
        },
        {
          title: t('settings.collection_email.heading'),
          href: settings_email_index_path(service.service_id),
          description: t('settings.collection_email.lede')
        },
        {
          title: t('settings.confirmation_email.heading'),
          href: settings_confirmation_email_index_path(service.service_id),
          description: t('settings.confirmation_email.lede'),
          display: ENV['CONFIRMATION_EMAIL'] == 'enabled'
        }
      ]) %>
    <% end %>
  </nav>
<% end %>
