<div class="fb-main-grid-wrapper" data-block-id="unauthorised-access" data-block-type="page" data-block-pagetype="unauthorised-access">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" data-block-id="unauthorised-access-heading" data-block-property="heading">
        <%= t('auth.unauthorised.heading') %>
      </h1>

      <p><%= t('auth.unauthorised.body') %></p>
    </div>
  </div>
</div>
