<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('settings.form_analytics.name') %></h1>
    <p><%= t('settings.form_analytics.help') %></p>
    <%= render 'form', form_analytics: @form_analytics_dev, platform_environment: 'test', deployment_environment: 'dev' %>

    <%= render 'form', form_analytics: @form_analytics_production, platform_environment: 'live', deployment_environment: 'production' %>
  </div>
</div>
